* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 800px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.header,
.footer {
  background-color: #4c6ef5;
  box-shadow: 0px 4px 0px 2px rgba(76, 110, 245, 0.8);
  padding: 40px;
  text-align: left;
  border-radius: 10px;
  margin: 10px;
}

.main {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #38b2ac;
  box-shadow: 0px 4px 0px 4px rgba(56, 178, 172, 0.6);
  padding: 20px;
  border-radius: 10px;
  flex-grow: 1;
  position: relative;
}

.main-title {
  flex-basis: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.item {
  background-color: rgba(45, 55, 72, 0.3);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 0px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  background-color: #f56565;
  box-shadow: 0px 4px 0px 4px rgba(245, 101, 101, 0.6);
  padding: 20px;
  border-radius: 10px;
  min-width: 200px;
}
